*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}
.link{
    color: rgb(160, 160, 160);
    text-decoration: none;
    list-style: none;
}
.link:hover{
    color: rgb(212, 212, 212);
}